# Terraform
*.tfstate
*.tfstate.*
*tfplan
*.tfplan
*.plan
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraformPrompt.txt
**/.terraform/*
